
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
li{
  list-style: none;
  text-align: center;
}
.albumCover{
  height: 500px;
}
/*.nav{*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  align-items: center;*/
/*}*/
/*.nav ul{*/
/*  display: flex;*/
/*  gap: 2rem;*/
/*  list-style: none;*/
/*}*/
/*.nav a {*/
/*  text-decoration: none;*/
/*}*/
.title{
  font-size: 3rem;
}
.albumContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*.navLinks.open *{*/
/*  display: flex;*/
/*  opacity: 100;*/
/*}*/
/*.navLinks * {*/
/*  opacity: 0;*/

/*}*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: relative;
}

.title {
  font-size: 2rem;
  text-decoration: none;
  color: black;
}

.navLinks {
  display: flex;
  gap: 2rem;
  list-style: none;
  opacity: 0;
}
.navLinks.open {
  opacity: 100;
}

.navLinks li a {
  text-decoration: none;
  color: black;
}

button {
  font-size: 1rem;
  background: none;
  cursor: pointer;
  border: none;
  /*display: none; !* hidden by default (for desktop) *!*/
}

/* Responsive Burger Menu */
@media (max-width: 768px) {
  .navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    width: 200px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .navLinks.open {
    display: flex;
  }

  button {
    display: block;
  }
}

